/** BEGIN: General use */
body {
  font-family: "Montserrat";
  background-color: #e3dbdb;
}
.header {
  font-size: 5vh;
  font-weight: bold;
}
.subheader {
  font-size: 3vh;
  font-weight: bold;
}
.alt-body-color {
  background-color: #d9c8c8;
}
.page {
  height: 100vh;
}
.page-margins {
  padding-top: 3%;
  padding-bottom: 3%;
}

.highlight-text {
  color: #b69696;
}
.highlight-text:hover {
  color: #966969;
  text-decoration: none;
  transition: all 0.3s;
}

.navigation {
  background-color: #e3dbdb;
}
/** END: General use */

/** BEGIN: navigation */

/* #navigation .brand {
  color: black;
  font-size: 250%;
  text-decoration: none;
}
#navigation .brand:hover {
  color: black;
  font-size: 250%;
  text-decoration: none;
}

#navigation .active {
  font-size: 120%;
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

#navigation .default {
  font-size: 120%;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.4rem 1rem;
  margin: 2rem 2rem;
  transition: all 0.3s;
}

#navigation .default:hover {
  font-size: 120%;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
} */

/** END: navigation */

/** BEGIN: Home */
.slider-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.7;
}
.carousel {
  position: relative;
  height: 100vh;
  background: black;
}
.profile-text {
  color: #dedede;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.profile-text-name {
  font-size: 8vh;
}
.profile-text-subtext {
  font-size: 3.5vh;
}
.profile-text-left {
  display: inline-block;
  margin-right: 10px;
}
.profile-text-right {
  display: inline-block;
  color: #d9c8c8;
}
.wrapper {
  display: flex;
}
.left-side {
  flex: 0 0 50%;
}
.right-side {
  flex: 1;
  padding-top: 10%;
}
.home-contact-icon {
  width: 2rem;
  filter: invert(100%) sepia(3%) saturate(583%) hue-rotate(54deg)
    brightness(118%) contrast(74%);
}
.home-contact-icon:hover {
  filter: invert(93%) sepia(4%) saturate(658%) hue-rotate(314deg)
    brightness(88%) contrast(93%);
  transition: 0.3s all;
}
/** END: Home */

/** BEGIN: About */
.about-text {
  font-size: 130%;
}
.profile-img {
  display: block;
  width: 30vh;
  border-radius: 50%;
  padding-top: auto;
  margin-left: auto;
  margin-right: auto;

  border: 5px solid white;
}
/**END: About */
/** START: Skills */
.skills-container {
  margin-left: 20%;
  margin-right: 20%;
}
.skills-icon {
  display: block;
  width: 11rem;
}
.skills-type {
  font-size: 2.5rem;
  font-weight: bold;
}
.skills-text {
  font-size: 1.6rem;
}
/** END: Skills */

/** START: Work Experience */
.experience-container {
  margin-left: 15%;
  margin-right: 15%;
}
.card-body-color {
  background-color: #d9c8c8;
}
.card-body-header {
  color: #643232;
  font-weight: bold;
  font-size: 1.4rem;
}
.card-body-subheader {
  font-size: 1.1rem;
}
.card-body-text {
  /* font-size: 1.1rem; */
}
/** END: Work Experience */

/** BEGIN: Projects */
.projects-container {
  margin-left: 15%;
  margin-right: 15%;
}
.project-icon {
  width: 100%;
}
.project-subheader {
  font-size: 2vh;
}
.logo {
  position: relative;
  width: 13vw;
  overflow: hidden;
}
@media (max-width: 769px) {
  .logo {
    position: relative;
    width: 50vw;
    overflow: hidden;
  }
}
.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: 0.3s all;
}
.logo:hover .overlay {
  opacity: 0.5;
}
.overlay-text {
  font-weight: bold;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.my-modal {
  width: 45vw;
  max-width: 45vw;
}
.modal-header {
  background-color: #d9c8c8;
}
.modal-title {
  width: 100%;
  height: 47vh;
}
.modal-carousel {
  width: 100%;
  height: 45vh;
}
.modal-img {
  height: 45vh;
  width: 100%;
  object-fit: contain;
  background-color: #d9c8c8;
}
.modal-heading {
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
}
.modal-subheading {
  font-weight: bold;
  text-align: left;
  font-size: 1.1rem;
}
.modal-text {
  text-align: justify;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.1rem;
}
.modal-tags {
  font-size: 80%;
  color: #a1a1a1;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  text-align: left;
}
.footer-content {
  color: rgba(0, 0, 0, 0.8);
}
.footer-content:hover {
  color: #d9c8c8;
  text-decoration: none;
  transition: all 0.3s;
}
.close {
  display: none;
}
.highlight-link-modal {
  color: rgba(24, 143, 255, 0.35);
}
/**END: Projects */

/** START: Contact */
.contact-container {
  margin-left: 15%;
  margin-right: 15%;
}
.contact-icon {
  width: 3rem;
}
.contact-icon:hover {
  filter: invert(53%) sepia(0%) saturate(656%) hue-rotate(208deg)
    brightness(79%) contrast(58%);
  transition: all 0.3s;
}
.contact-margins {
  padding-top: 3%;
  padding-bottom: 1%;
}
/** END: Contact */

.test-border {
  border: 1px solid green;
}
